@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#f5f5f5];
  font-family: "Urbanist";
}





.tab-content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.block .tab-content {
  opacity: 1;
}

.hidden-component {
  display: none;
}

#search {
  font-size: 13px;
}

#table {
  font-size: 15px;
}



#badge {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.floating-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 9999;
  max-width: 90%;
}

th {
  border: none;
  cursor: pointer;
  font-weight: bold;
}

th:hover {
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
}


.greeting-container {
  animation-name: slide-down;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

#canvas {
  width:80vw;
  height: 20vh;
}



@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes slide-from-left {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slide-from-right {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}


/* @apply h-screen w-screen bg-gradient-to-br from-[#A9AFE3] to-[#A9CCE3]
  tracking-wide; */

