@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen w-screen bg-gradient-to-br from-[#A9AFE3] to-[#A9CCE3]
  tracking-wide;
}

button {
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(120%);
}

button:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0199c6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
