@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen m-2 w-screen bg-gradient-to-r from-[#2F80ED] to-[#1CB5E0]
  tracking-wide;
}

button {
  @apply shadow-xl rounded-xl uppercase bg-gradient-to-l from-[#1E56A0] to-[#163172] text-white;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(120%);
}

button:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0199c6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
