@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen w-screen bg-gradient-to-br from-[#A9AFE3] to-[#A9CCE3]
  tracking-wide;
  font-family: "Urbanist";
}

.tab-content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.block .tab-content {
  opacity: 1;
}

.hidden-component {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.floating-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 9999;
  max-width: 90%;
}
