@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-tl from-[#F6F6F6] to-[#D6E4F0] text-[#1f2937] tracking-wide;
}

button {
  @apply shadow-xl rounded-xl uppercase bg-gradient-to-l from-[#1E56A0] to-[#163172] text-white;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(120%);
}

button:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0199c6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
